@import url(/styles/styles.css);

.botao {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px;
  }


  .botao__formulario {
    margin-top: 40px;
 }

 input{
    background-color: var(--light-gray);
 }